bitsandbytes==0.42.0
datasets==4.0.0
hf_transfer==0.1.9
kagglehub==0.3.13
librosa==0.11.0
matplotlib==3.10.6
peft==0.17.1
pillow==11.2.1
soundfile==0.13.1
tldextract==5.3.0
torchinfo==1.8.0
torchcodec==0.7.0
tqdm==4.67.1
transformers==4.56.1
wandb==0.21.3
